/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.mrizka {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	border: 5px solid lightskyblue;
}

.ctverec {
	flex: 1 1 30%;
	padding: 20px;
	border: 1px solid gray;
	background-color: #e5e5e5;
}

.ctverec img {
	width: 100%;
}

/*************************************************/

/*
CSS Selektory:

:first-child			první potomek
:last-child				poslední potomek
:nth-child(n)			n-tý potomek
:nth-child(3n+3)		každý 3. potomek

*/



/* musi tady byt ta mezera za mrizkou aby se vybral prvni prvek */

/* .mrizka :first-child {
	background-color: green;
}

.ctverec:first-child {
	background-color: red;
}

.ctverec:last-child {
	background-color: blue;
}

.ctverec:nth-child(2) {
	background-color: orange;
}

/* z kazde trojice jen ten prvni bude mit background color */
/* .ctverec:nth-child(3n+1) {
	background-color: aquamarine;
} */

p {
	background-color: aqua;
}

/*tohle vyhraje protoze tento selektor je specifictejsi*/
.ctverec p {
	background-color: gold;
}

p {
	background-color: blue;
}


